/.phpunit.cache
/node_modules
/public/build
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode.env
.history/
.env
.env
.history/
.env
.history/
/bootstrap/cache/*.php
/storage/framework/views/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
RAILWAY_VISUAL_SUMMARY.md
RAILWAY_ENV_SETUP.md
railway-setup.sh
app/Http/Middleware/TrustProxies.php
railway-diagnose.sh
