<<<<<<< HEAD
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
=======
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
>>>>>>> 4d626894314be39286e444578073dd7e4c5bad0a
